# Ignore everything
*

# Keep only specific files/folders
!.gitignore
!taskA.py
!taskB.py
!taskC.py
!taskD.py
!utils.py
!output_images/
!output_images/**
!documentation/
!documentation/**
!own_data
!own_data/**
# Explicitly ignore dataset
data/
